<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="icon" type="image/png" href={{site.logo}}>
    {% feed_meta %}
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title }}</a></h1>
        
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description }}</p>

        <ul class="downloads">
          <li><a href="https://github.com/ppb/pursuedpybear">View On <strong>GitHub</strong></a></li>
          <li><a href="https://pypi.org/project/ppb/">View On <strong>PyPI</strong></a></li>
          <li><a href="https://ppb.readthedocs.io/en/stable/">Read The <strong>Docs</strong></a></li>
        </ul>

        <div class="social">
          <a href="https://twitter.com/pursuedpybear"><img src="/assets/twitter-circle.svg" title="@PursuedPyBear on Twitter"></a>
          <a href="https://pypi.org/project/ppb/"><img src="/assets/discord-black.svg" title="Join our Discord"></a>
        </div>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p><small>Powered by <a href="https://www.netlify.com/">Netlify</a> &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
        <p><small><a href="{% link coc.md %}"><strong>Code of Conduct</strong></a> &mdash; <a href="{% link contributing.md %}"><strong>Contributing Guide</strong></a> &mdash; <a href="{% link contributors.md %}"><strong>Contributors</strong></a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
